:root {
     --global_main_color: #00b8a9;
     --global_main_color_btn_text_color: #ffffff;
     --home_text_color: #000000;
     --home_third_background_color: #000000;
     --home_custom_image_size: px;
     --home_custom_image_width: px;
     --home_text_size_px: 70px;
     --home_text_size_2_px: 45px;
     --slogan_text_size_px: 22px;
     --home_text_size: 70;
     --home_text_size_2: 45;
     --slogan_text_size: 22;
     --home_text_size_px_media: 70px;
     --home_text_size_2_px_media: 45px;
     --slogan_text_size_px_media: 22px;
     --layout_text_align: center;
     --layout_text_align_rtl: center;
     --layout_text_box_width: 100%;
     --layout_left_side_width: 50%;
     --layout_left_side_width_vh: 50vh;
     --homepage_layout_height: 75%;
     --homepage_layout_height_vh: 75vh;
     --homepage_layout_height_menu_space: 0px;
     --mainNavMobileHeight: 0px;
     --homepage_layout_height_opacity_space_top: 0px;
     --homepage_layout_height_opacity_space_bottom: 0px;
     --mobileMenuFontSize: 20px;
     --mobileMenuPagesSpace: 5px;
     --homepageShapeDividerList_Size: 30%;
     --layout_bottom_spacing: 0px;
     --window-height: 100vh;
     --window-width: 100vw;
     --menu_font_size: 14px;
     --menu_pages_space: 3px;
     --menu_pages_side_padding: 15px;
     --menu_pages_letter_spacing: 0.5px;
     --menu_pages_word_spacing: 0px;
     --menu_thin_border: #e8ecf1;
     --mobileMenuTextAlign: center;
     --menu_text_color: #000000;
     --menu_text_hover_color: #5a5a5a;
     --menu_color: #e8ecf1;
     --modules_color_text: #000000;
     --modules_color_text_second: #000000;
     --inside_modules_color_text: #000000;
     --sectionsPadding: 100px;
     --home_text_top_space_1: 0px;
     --home_text_bottom_space_1: 16px;
     --home_text_top_space_2: 0px;
     --home_text_bottom_space_2: 30px;
     --home_text_top_space_3: 0px;
     --home_text_bottom_space_3: 31px;
     --homepage_padding_top: px;
     --homepage_padding_bottom: px;
     --homepage_main_goal_margin_top: 0px;
     --homepage_main_goal_margin_bottom: 0px;
     --homepage_second_goal_margin_top: 0px;
     --homepage_second_goal_margin_bottom: 0px;
     --modules_color_second: #fdf5e6;
     --modules_color: #ffffff;
     --footer_back: #e8ecf1;
     --footer_text_hover: #00b8a9;
     --footer_links_color: #00b8a9;
     --footer_text: #000000;
     --home_background_color: #222;
     --inside_modules_color_box: #ebebeb;
     --inside_modules_color_text_box: #000000;
     --module_separate_border_color: ;
     --modules_color_box: #ebebeb;
     --modules_color_second_box: #ffffff;
     --modules_color_text_second_box: #000000;
     --inside_modules_color: #ffffff;
     --modules_color_text_box: #000000;
     --font_logo: Raleway;
     --font_menu: Open Sans;
     --global_font: Open Sans;
     --font_slogan: Raleway;
     --font_slogan_2: Raleway;
     --font_second_slogan: Raleway;
     --font_modules_header: Raleway;
     --sticky_menu: 1;
     --scrollHeaderSize: 0px;
 }